body {
  background-color: rgb(55, 55, 55);
  background-image: url("../img_s/background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  margin: 0%;
  padding: 0%;
  text-shadow: -4px 4px 0 rgba(0, 0, 0, 0.7);
}
.containerhead {
  margin-top: 170px;
}
.backgrounds1 {
  background-color: rgb(255, 230, 230);
  height: 400px;
  margin: 0 220px 0 220px;
  border-radius: 20px;
  box-shadow: -4px 5px 2px rgba(105, 63, 63, 100%);
}
.title {
  font-size: 45px;
  text-align: center;
  padding-top: 10px; 
}
.name {
  text-align: center;
  font-size: 30px;
  margin-top: 0%;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.8);
  
}
.LinkX {
  margin-top: 100px;
  margin-bottom: 100px;
}
.textxxx {
  text-align: center;
  font-size: 20px;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.7);
}
.linkt {
  text-decoration: none;
  color: white;
}
.linkt:hover {
  text-decoration: underline;
}
.image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}
.image3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 215px;
}
.image4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}

.image5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.h1s {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10%;
}
.h2s {
  margin-left: 300px;
  margin-right: 300px;
}
.h3s {
  margin-left: 300px;
  margin-right: 300px;
}
.h4s {
  margin-left: 300px;
  margin-right: 300px;
}
.h5s {
  margin-left: 300px;
  margin-right: 300px;
}
.version {
  text-align: end;
  text-shadow: none;
  margin-right: 40px;
  padding-top: 250px;
}
footer {
  background-color: rgba(55, 55, 55, 70%);
  color: white;
  height: 310px;
}
@media screen and (min-width: 1250px) {
  .h1s {
    margin-left: 320px;
    margin-right: 320px;
  }
  .h2s {
    margin-left: 500px;
    margin-right: 500px;
  }
  .h3s {
    margin-left: 500px;
    margin-right: 500px;
  }
  .h4s {
    margin-left: 500px;
    margin-right: 500px;
  }
  .h5s {
    margin-left: 500px;
    margin-right: 500px;
  }
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .h1s {
    margin-left: 50px;
    margin-right: 50px;
  }
  .h2s {
    margin-left: 100px;
    margin-right: 100px;
  }
  .h3s {
    margin-left: 100px;
    margin-right: 100px;
  }
  .h4s {
    margin-left: 100px;
    margin-right: 100px;
  }
  .h5s {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 300px) and (max-width: 750px) {
  .backgrounds1 {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
  .backgrounds1 {
    margin-left: 250px;
    margin-right: 250px;
  }
}